.cont_3
  footer.footer
    .footer-left
      p
        | Avocado Life!
      .social
        a(href='#')
          i.fab.fa-github-square
    ul.footer-right
      li
        h2 Content
        ul.box
          li
            a(href='/') Todos
      li.feat
        h2 Information
        ul.box
          li
            a(href='#') Account
          li
            a(href='#') Links
          li
            a(href='#') Corporate information
      li
        h2.footer-h2 Address
        ul.box
          li WIUT,
          li 12 Istiqbol ko'chasi,
          li Tashkent,
          li Uzbekistan
    .footer-bottom
      p Created by 00009474